.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.post {
    width: 550px;
    margin: 30px;
}

.post__header {
    display: flex;
    justify-content: space between;
    align-items: center;
    margin-bottom: 10px;
}

.post__headerAuthor {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.post__headerAuthor>span {
    color: grey;
    font-size: 15px;
}

.post__image>img {
    width: 100%;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
}

.post__footerIcons {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    justify-content: space-between;
}

.postIcon {
    padding: 7px;
    font-size: 30px;
}

.postIcon:hover {
    cursor: pointer;
}

.words {
    display: flex;
}

.timeline {
    display: flex;
    flex-direction: row;
}

.timeline__left {
    flex: 0.7;
}

.timeline__right {
    flex: 0.3;
}

.timeline__posts {
    margin-left: -150px;
}