.container {
  display: flex;
  padding-right: 1000px;

  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  z-index: 3;
  position: relative;
  margin-left: 9px;


}

.createPostFormInner {
  margin-right: -200px;

  top: 0;
  right: 0;


  z-index: 0;
}

.createPostForm {
  text-align: center;
  margin-left: -10px;
  margin-bottom: 30px;
  width: 100%;
  z-index: 3;
}



.createPostForm input,
.createPostForm button {
  display: block;

  width: 150px;

  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 14px;
  margin-left: -80px;
}



.post__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 0;
  padding: 10px 15px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}

.timeline__posts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: -400px;
  margin-left: 150px;
}

.post__container {
  margin-left: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;

  height: 130px;
  z-index: 3;
  padding-top: 70px;

}

.post {
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  border-radius: 50px;
}

.post p {
  margin-bottom: 10px;
}

.postImage {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.postImage img {
  display: block;
  /* Отображать изображения в столбик */
}

.postIcons {
  margin-top: 30px;
  /* Измените расстояние между текстом и иконками */
}

.iconContainer {
  display: flex;
  margin-left: 10px;
  margin-top: 1px;
  /* Управляйте расстоянием между иконками */
}

.addIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 0;

  padding: 10px 15px;
  border-radius: 15px;
  width: 100%;
  margin-top: -10px;
  margin-left: -53px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}


.addIcon:hover {
  outline: none;



}

.icon {
  margin-right: 10px;


}