.homepage {
  display: flex;
  flex-direction: column; /* Изменяем направление на вертикальное */
  position: relative;
}

.create__post {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -360px;
}

.homepage__content {
  flex: 1;
  position: relative;

}

.homepage__nav {
  flex: 0.2;
}



