.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  z-index: 3;
  position: relative;
  /* Добавьте позиционирование */
}

.createPostForm {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  z-index: 3;
  position: sticky;
  top: 0;
}


.createPostForm input,
.createPostForm button {
  display: block;
  /* Располагаем элементы в столбик */
  width: 150px;
  /* Устанавливаем фиксированную ширину по вашему выбору */
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 14px;
  margin-left: -10px;
}



.post__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 0;
  padding: 10px 15px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}

.post__container {
  /* Стили для контейнера с постами */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  z-index: 3;
  padding-top: 70px;
  /* Добавьте отступ сверху, чтобы созданные посты не перекрывали форму */
}

.addIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 0;
  padding: 10px 15px;
  border-radius: 15px;
  width: 100%;
  margin-left: -50px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  position: sticky;
  top: 70px;

}

.addIcon .icon {
  margin-right: 10px;

}