.homepage {
  overflow: auto;
  flex-direction: row;

}

.homepage__nav {
  margin-bottom: 50px;
  position: relative;
  flex: 0.2;
}

.posts {
  margin-left: 35px;
  margin-top: -490px;
}

.homepage_posts {
  flex: 0.8;
  margin-top: -1300px;
}